<configuration>
	<connectionStrings>
		<add name="SystemContext" connectionString="Server=.\SQLEXPRESS;Database=PizzariaDB,Integrated security=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
